<html>
  <head></head>
  <body>
  	<p>
      Enter a string to cipher!
    </p>
    <p>
      Cipher: <%= cipher %>
    </p>
  </body>

  <form>
  	<input type='text' name='string' />
  	<input type='submit' value='Cipher!' />
	</form>

</html>